@import url('https://fonts.googleapis.com/css?family=Montserrat');

.home {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(./Images/background-home.jpg);
  display: flex;
  align-items: center;
}

.home--CV {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  width: 310px;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.home--nome {
  color: #ffffff;
  font-size: 55px;
  font-weight: bold;
}

.apresentacao h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: rgb(84, 143, 194);
}

/* animação escrita*/

.home--cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.home--typing {
  animation: none;
}

.home-textAnimado {
  color: #ffffff;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/* animação avançar */

.avancar {
  position: absolute;
  bottom: 75px;
  right: 40px;
  color: #ffffff;
  text-decoration: none;
  transform: rotate(90deg);
}

.avancar:hover {
  color: rgb(111, 181, 241);
}

.avancar--seta {
  animation: glitch 1s linear infinite;
  position: absolute;
  margin-left: 10px;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@media (max-width: 600px) {
  .home--nome {
    font-size: 30px;
  }

  .apresentacao h3 {
    font-size: 20px;
  }

  .apresentacao {
    margin-left: 5%;
    margin-right: 5%;
  }

  .avancar {
    position: absolute;
    bottom: 75px;
    right: 15px;
    color: #ffffff;
    font-size: 10px;
    transform: rotate(90deg);
  }

  .home--CV {
    width: 250px;
    font-size: 15px;
  }
}

/* fazer ficar trocando a palavra: https://www.cupcom.com.br/programacao/15-efeitos-de-digitacao-de-texto-com-css.html */
