header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
}

.Header--black {
  background-color: #141414;
}

.Header--Logo {
  height: 30px;
}

.Header--Logo img {
  height: 100%;
}

.Header--menu--pc {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}

.Header--menu--pc a {
  color: aliceblue;
  padding: 0 10px;
  transition: all ease 0.2s;
}

.Header--menu--pc a:hover {
  color: rgb(111, 181, 241);
}

.home--nome {
  font-weight: bold;
}

.Header--menu--pc a {
  text-decoration: none;
}

.Header--Nav {
  display: flex;
}

.Header--bnt--mobile {
  display: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  background: none;
}

.Header--menu--Mobile {
  display: none;
}

@media (max-width: 600px) {
  .Header--menu--pc {
    display: none;
  }

  .Header--bnt--mobile {
    display: block;
  }

  .Header--menu--Mobile {
    display: block;
    position: absolute;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    top: 70px;
    right: 0px;
    background-color: #141414;
    padding: 10px 30px;
  }

  .Header--menu--Mobile li {
    padding: 7px 0;
  }

  .Header--menu--Mobile a {
    text-decoration: none;
    color: aliceblue;
  }

  header {
    background-color: #141414;
    justify-content: space-between;
  }
}
