@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.footer {
  height: 40px;
  background-color: rgb(204, 204, 204);

  display: flex;
  justify-content: center;
}

.footer p {
  margin-top: 7px;
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .footer {
    height: 65px;
  }

  .footer p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer div {
    margin: 0px 20px 0px 20px;
  }
}
