@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.contato {
  /* height: calc(100vh - 70px); */
  background-color: rgb(12, 7, 7);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.contato--h3 {
  color: rgb(71, 133, 190);
  font-family: 'Russo One', sans-serif;
  margin: 30px 10px 15px 10px;
}

.contato--link {
  color: aliceblue;
  padding: 0 10px;
  transition: all ease 0.4s;
  text-decoration: none;
}

@media (max-width: 768px) {
}
