::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	/* background: unset; */
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb {
	border-radius:4px;
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}